# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Virtual environments
.venv/
venv/
ENV/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build artifacts
build/
dist/

# Local env files
.env

# azd files
.azure/
